body{
    margin: 0;
    padding: 0;
    background-color: lightcyan;

    & h2{
        margin-left:100px ;
        font-size:50px;
    }
}

#CaixaLogin{
    border: 3px solid black;
    border-radius: 100px;
    text-align: center;
    margin:200px 700px 0 700px;
    padding:50px;

    & p{
        font-weight: bold;
    }



}